@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0f1117;
    color: #e8e6e0;
    font-family: 'DM Sans', system-ui, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  /* Scrollbar escura */
  ::-webkit-scrollbar       { width: 6px; height: 6px; }
  ::-webkit-scrollbar-track { background: #161820; }
  ::-webkit-scrollbar-thumb { background: #2a2d3a; border-radius: 3px; }
}